@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

:root {
  --white-color: #fff;
  --red-color: #f35622;
  --primary-color: #66fcf1;
  --input-bg-color: rgba(255, 255, 255, 0.1);
  --input-border-color: rgba(255, 255, 255, 0.3);
  --input-placeholder-color: rgba(255, 255, 255, 0.7);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.813rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-size: var(--font-size-medium);
  font-family: "Orbitron", sans-serif;
  color: var(--red-color);
}

a {
  text-decoration: none;
  color: var(--white-color);
}

img {
  max-width: 100%;
  height: auto;
}

.loginRegisterPage {
  background-color: #1f2833;
  letter-spacing: 0.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;

  .container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .bubbles {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    span {
      position: relative;
      width: 1.875rem;
      height: 1.875rem;
      background: #2ecc71;
      margin: 0.25rem;
      border-radius: 50%;
      box-shadow: 0 0 0 0.625rem #2ecc7144, 0 0 3.125rem #2ecc71,
        0 0 6.25rem #2ecc71;
      animation: animate 15s linear infinite;
      animation-duration: calc(125s / var(--i));
    }
    span:nth-child(even) {
      background: #9b59b6;
      box-shadow: 0 0 0 0.625rem #9b59b644, 0 0 3.125rem #9b59b6,
        0 0 6.25rem #9b59b6;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(100vh) scale(0);
    }
    100% {
      transform: translateY(-10vh) scale(1);
    }
  }

  .loginForm__wrapper {
    position: relative;
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-border-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px var(--box-shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;

    .loginForm__logo {
      width: 70%;
      height: auto;
    }

    h2 {
      color: var(--primary-color);
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 25rem;

    &__title {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &__content {
      display: grid;
      row-gap: 1.75rem;
      margin-bottom: 1.5rem;
    }

    &__box {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-items: center;
      column-gap: 0.75rem;
      border-bottom: 2px solid var(--input-border-color);
    }

    &__icon {
      font-size: 1.25rem;
    }

    &__box-input {
      position: relative;
    }

    &__input {
      width: 100%;
      padding: 0.8rem 0;
      background: none;
      color: var(--white-color);
      position: relative;
      z-index: 1;
      border: none;
    }

    &__label {
      position: absolute;
      left: 0;
      top: 13px;
      font-size: var(--font-size-small);
      transition: top 0.3s, font-size 0.3s;
    }

    &__input:focus + .loginForm__label,
    &__input:not(:placeholder-shown).loginForm__input:not(:focus)
      + .loginForm__label {
      top: -18px;
      font-size: var(--font-size-small);
    }

    &__check {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      &-group {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }

      &-input {
        width: 16px;
        height: 16px;
      }

      &-label {
        font-size: var(--font-size-small);
      }

      &-forgot {
        font-size: var(--font-size-small);
        color: var(--white-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__submit {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: #33d2c7;
      font-weight: 500;
      cursor: pointer;
      margin-bottom: 2rem;
      font-size: var(--font-size-large);
      border: none;
      outline: none;
      color: var(--white-color);
      box-shadow: 0 4px 10px var(--box-shadow-color);
    }

    &__register-link {
      text-align: center;
      font-size: var(--font-size-small);

      a {
        color: var(--white-color);
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
