.manga-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.manga-card {
  background-color: navajowhite;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  width: 200px;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }
}

.manga-image {
  width: 100%;
  height: auto;
}

.manga-title {
  font-size: 16px;
  font-weight: bold;
  color: #ff0042;
  padding: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 15px;
  outline: none;
  width: 80%;
  max-width: 600px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
